
.profile {
    background-color: #6979a7;
    padding: 2rem;
    border-radius: 30px;
  
    h2 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
  
    .artistName {
      color: var(--primaire-white, #f6f8ff);
      text-align: left;
      font-family: "Unbounded", sans-serif;
      font-size: 2.5rem;
      letter-spacing: -0.03125rem;
      font-weight: 400;
      position: relative;
      flex: 1;
      padding-left: 20px;
    }
    
    .content {
        display: flex;
        flex-direction: column;
    
        @media (min-width: 768px) {
          flex-direction: row;
        }
    
        .text {
          flex: 2;
          margin-right: 1rem;
    
          p {
            margin-bottom: 1rem;
          }
          color: var(--color-5, #ffffff);
          text-align: left;
          font-family: var(
            --heading-text-paragraphe-font-family,
            "Montserrat",
            sans-serif
          );
          font-size: var(--heading-text-paragraphe-font-size, 1rem);
          font-weight: var(--heading-text-paragraphe-font-weight, 400);
          position: relative;
          align-self: stretch;

          
        }
    
        .images {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 20px;
    
          .artistPhoto {
            width: 200px;
            height: 200px;
            border: 1px solid black;
            border-radius: 50%; // Ajustez le rayon selon vos préférences
            overflow: hidden;
          }

          .artistArtwork {
            width: 200px;
            height: 200px;
            border-radius: 15px; // Ajustez le rayon selon vos préférences
            overflow: hidden;
          }
        }
      }
  }

  .contentBackground {
    background-color: #6979a7;
    border-radius: 30px;
    padding: 20px;
  }
  
  .content {
    color: white;
  }

