.container {
    display: flex;
    background-color: #f8f9fa;
    border-radius: 15px;
    overflow: hidden;
    margin: 20px 0;
    background: #eaedfc;
    border-radius: 2.5rem;
    border-style: solid;
    border-color: #6979a7;
    border-width: 0.0625rem;
    padding: 5rem 3.75rem 5rem 3.75rem;
    display: flex;
    flex-direction: row;
    gap: 5.375rem;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;

  }
  
  .imageContainer {
    flex: 1;
  }
  
  .content {
    flex: 2;
    padding: 20px;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  .text {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 15px;
  }
  
  .signature {
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .navigation {
    display: flex;
    justify-content: flex-end;
  }
  
  .navButton {
    background: none;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    cursor: pointer;
  }