.container {
    padding: 40px 20px;
    border-radius: 15px;
    margin: 20px 0;
  }
  
  .title {
    color: var(--primaire-black, #000035);
    text-align: left;
    font-family: "Unbounded", sans-serif;
    font-size: 3rem;
    font-weight: 400;
    position: relative;
    align-self: stretch;
    padding-bottom: 30px;
  }
  
  .statsContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .statItem {
    flex-basis: calc(25% - 20px);
    border-radius: 1.25rem;
    border-style: solid;
    border-color: var(--primaire-black, #000035);
    border-width: 0.0625rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0rem;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 18.5625rem;
    position: relative;
  }
  
  .statNumber {
    color: var(--primaire-black, #000035);
    text-align: left;
    font-family: "Unbounded", sans-serif;
    font-size: 3rem;
    font-weight: 400;
    position: relative;
    align-self: stretch;
  }
  
  .statDescription {
    color: var(--primaire-black, #000035);
    text-align: left;
    font-family: var(
      --heading-text-paragraphe-font-family,
      "Montserrat",
      sans-serif
    );
    font-size: var(--heading-text-paragraphe-font-size, 1rem);
    font-weight: var(--heading-text-paragraphe-font-weight, 400);
    position: relative;
    align-self: stretch;
  }
  
  @media (max-width: 768px) {
    .statItem {
      flex-basis: calc(50% - 20px);
    }
  }
  
  @media (max-width: 480px) {
    .statItem {
      flex-basis: 100%;
    }
  }