.container,
.container * {
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.wrapperText {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 35.5625rem;
  height: 3rem;
  position: relative;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.title {
  color: var(--bleu-bleu-sombre-300, #6979a7);
  text-align: left;
  font-family: "Unbounded", sans-serif;
  font-size: 2.5rem;
  letter-spacing: -0.03125rem;
  font-weight: 400;
  position: relative;
  width: 34.9375rem;
}

.partnersLogo {
  display: flex;
  flex-direction: row;
  gap: 11.875rem;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.partner1, .partner2 {
  flex-shrink: 0;
  position: relative;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partner1 {
  width: 26.5rem;
  height: 5.75rem;
}

.partner2 {
  width: 13.25rem;
  height: 10.125rem;
}


  @media (max-width: 768px) {
    .partnersLogo {
      flex-direction: column;
    }
  }